<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checker Board</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
<table>
  <!-- Remember to take the i and j :) -->
  {% for i in range(row) %}
  <tr>
    {% for j in range(col) %}
      {% if (i+j) % 2 == 0 %}
        <td style="background-color:{{color1}};"></td>
      {% else %}
        <td style="background-color:{{color2}};"></td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
</table>

<!-- I'm keeipng this for refrence -->
    <!-- <table>
      <tr>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
      </tr>
      <tr>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
      </tr>
      <tr>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
      </tr>
      <tr>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
      </tr>
      <tr>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
      </tr>
      <tr>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
      </tr>
      <tr>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
      </tr>
      <tr>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
        <td class="black" ></td>
        <td class="white" ></td>
      </tr>
    </table> -->
  </body>
</html>
